<p id="notice"><%= notice %></p>

<p>
  <b>Desc:</b>
  <%= @group.desc %>
</p>

<p>
  <b>Hex val:</b>
  <%= @group.hex_val %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
