<%= form_for(@plug) do |f| %>
  <% if @plug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plug.errors.count, "error") %> prohibited this plug from being saved:</h2>

      <ul>
      <% @plug.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="show">
    <li class='lab'><%= f.label "Legend"%><li />
    <li><%= f.text_field :legend %></li>
    <li class='lab'><%= f.label "Table Name"%><li />
    <li><%= f.text_field :tab_name %></li>
    <li class='lab'><%= f.label "Configuration flags" %><li />
    <li><%= f.text_field :flags %><li>
    <li class='lab'><%= f.label "Parent" %><li />
    <li><%= f.select(:parent_id, Plug.find(:all).collect {|c| [c.legend,c.id] }) %></li>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
