<h1>Listing plugs</h1>

<table>
  <tr>
    <th>Tab name</th>
    <th>Flags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plugs.each do |plug| %>
  <tr>
    <td><%= plug.legend %></td>
    <td><%= plug.tab_name %></td>
    <td><%= plug.flags %></td>
    <td><%= link_to 'Show', plug %></td>
    <td><%= link_to 'Edit', edit_plug_path(plug) %></td>
    <td><%= link_to 'Destroy', plug, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plug', new_plug_path %>
