<p id="notice"><%= notice %></p>

<p>
  <b>Dom:</b>
  <%= @field.dom %>
</p>

<p>
  <b>Flags:</b>
  <%= @field.flags %>
</p>

<p>
  <b>Xml:</b>
  <%= @field.xml %>
</p>

<p>
  <b>Plug:</b>
  <%= @field.plug %>
</p>
