<!DOCTYPE html>
<html>
<head>
  <title>Hs</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
<p class='title'>HidaStore</p>
<div class='personal'>
  Welcome UserName
</div>
<!--
  <%= link_to "Home", root_path %>
  <%= link_to "Plugs", plugs_path %>
-->
</div>
<%= yield %>

<app id='app' />
<body>
</html>
